body {
}

#grid-container{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 600px;
  width: 600px;
  background-color: grey;
}

#coloredBox{
  background-color: aqua;
}

